	.thumb-image{    height: 100px;
    width: 100px;
    border: 2px solid rgba(222, 202, 202, 0.4);
    margin: 10px;
    display: inline-block;
    position: relative;
    background-color: 
	}
	.thumb-image img{
		position:absolute; left:0; right:0; bottom:0; top:0; margin:auto; max-height:80%;
	}
	.thumb-image span{       position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    display: block;
    background: rgba(0, 0, 0, 0.43);
    color: #fff;
    font-size: 14px;}